In [1]:
pip install kaggle --upgrade

Requirement already up-to-date: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.6)
Requirement already satisfied, skipping upgrade: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied, skipping upgrade: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.0.0)
Requirement already satisfied, skipping upgrade: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.8.1)
Requirement already satisfied, skipping upgrade: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.41.1)
Requirement already satisfied, skipping upgrade: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied, skipping upgrade: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2020.4.5.1)
Requirement already satisfied, skipping upgrade: text-unidecode>=1.3 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.9)

In [0]:
from google.colab import auth
auth.authenticate_user()

In [3]:
#colab에서 g란 이름으로 구글드라이브의 root를 MOUNT
from google.colab import drive
drive.mount('/content/g')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/g

In [5]:
!pwd

/content

In [6]:
!ls

adc.json  g  sample_data

In [0]:
!mkdir -p ~/.kaggle
!cp "/content/g/My Drive/kaggle/kaggle.json" ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

In [15]:
!kaggle -v

Kaggle API 1.5.4

In [11]:
!kaggle competitions list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                               deadline             category            reward  teamCount  userHasEntered
------------------------------------------------  -------------------  ---------------  ---------  ---------  --------------
digit-recognizer                                  2030-01-01 00:00:00  Getting Started  Knowledge       3197           False
titanic                                           2030-01-01 00:00:00  Getting Started  Knowledge      23904           False
house-prices-advanced-regression-techniques       2030-01-01 00:00:00  Getting Started  Knowledge       5414           False
connectx                                          2030-01-01 00:00:00  Getting Started  Knowledge        386           False
nlp-getting-started                               2030-01-01 00:00:00  Getting Started      Kudos       1705           False
competitive-data-science-predict-future-sales     2020-12-31 23:59:00  Playground           Kudos       7279           False
siim-isic-melanoma-classification                 2020-08-17 23:59:00  Featured           $30,000        838           False
global-wheat-detection                            2020-08-04 23:59:00  Research           $15,000        812           False
open-images-object-detection-rvc-2020             2020-07-31 16:00:00  Playground       Knowledge         27           False
open-images-instance-segmentation-rvc-2020        2020-07-31 16:00:00  Playground       Knowledge          5           False
hashcode-photo-slideshow                          2020-07-27 23:59:00  Playground       Knowledge         35           False
prostate-cancer-grade-assessment                  2020-07-22 23:59:00  Featured           $25,000        561           False
alaska2-image-steganalysis                        2020-07-20 23:59:00  Research           $25,000        522           False
halite                                            2020-06-30 23:59:00  Featured             Kudos          0           False
m5-forecasting-accuracy                           2020-06-30 23:59:00  Featured           $50,000       4910           False
m5-forecasting-uncertainty                        2020-06-30 23:59:00  Featured           $50,000        621           False
trends-assessment-prediction                      2020-06-29 23:59:00  Research           $25,000        680           False
jigsaw-multilingual-toxic-comment-classification  2020-06-22 23:59:00  Featured           $50,000       1407           False
tweet-sentiment-extraction                        2020-06-16 23:59:00  Featured           $15,000       2084           False
trec-covid-information-retrieval                  2020-06-03 11:00:00  Research             Kudos         19           False

download dataset

In [19]:
!kaggle competitions download -c titanic

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.csv to /content
  0% 0.00/59.8k [00:00<?, ?B/s]
100% 59.8k/59.8k [00:00<00:00, 53.5MB/s]
Downloading gender_submission.csv to /content
  0% 0.00/3.18k [00:00<?, ?B/s]
100% 3.18k/3.18k [00:00<00:00, 3.11MB/s]
Downloading test.csv to /content
  0% 0.00/28.0k [00:00<?, ?B/s]
100% 28.0k/28.0k [00:00<00:00, 28.7MB/s]

In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')

In [21]:
df_train.head(5)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [22]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [28]:
df_train['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [0]:
import seaborn as sns

plt.style.use('seaborn')
sns.set(font_scale=2.5)

sns.heatmap(df)